@keyframes fade {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
